{
  "env": {
    "scripts": {
      "presets": [
        "env"
      ]
    },
    "server": {
      "presets": [
        "latest"
      ]
    },
    "test": {
      "presets": [
        "latest"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
